.info-bar-default {
    display: none;
}

.info-bar {
    font-size: 10px;
    width : 351px;
    height : 86px;
    background-color : #fff;
    border-radius: 30px;
    margin : 0 auto;
    display : flex;
    flex-direction : row;
    justify-content: center;
    border-top: 22px;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    margin-left: -45%;
}

#info-bar > div {
    width: 30%;
    padding: 10px 0;
}

.list {
    display: flex;
    flex-direction: row;
}

.space-below {
    padding-bottom: 13px;
}